h1,p,button,i{
    text-align: center;
    color:black;
}
h4{
    color:black;
}
.container-fluid{
    max-height: 900px;
    display: grid; /* Enables grid layout */
   /* grid-template-columns:repeat(2, 1fr); 
     /* grid-template-rows:repeat(4 ,1fr);*/ 
    gap: 1px; /* Space between grid items */
    padding:1px;
    background-color:white;
    margin:1px;
    align-items:center;
    justify-content:center;
    border: 1px;
}
.container{

    max-height:400px;
    max-width:895px;
    display: grid; /* Enables grid layout */
    grid-template-columns:250px 250px 250px;  
    gap: 5px; /* Space between grid items */
    padding: 5px;
    background-color:white;
    margin:5px;
    align-items: center;
    justify-content: center;
}
.container1{
    max-width:895px;
    max-height:400px;
    display: grid; /* Enables grid layout */
    grid-template-columns:2fr 1fr;
    grid-template-rows:repeat(2, 1fr);
    gap: 5px; /* Space between grid items */
    padding: 5px;
    background-color:white;
    margin:5px;
    align-items: center;
    justify-content: center;
}
.item1{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item2{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item3{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item4{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item5{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item6{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item7{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item8{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .item9{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }

  .item10{
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
  }
  .card-body{
    border: 3px;
    padding:5px;
    margin:5px;
    align-items:center;
    justify-content:center;
    max-width:fit-content;
    
  }
  