h1,p,button{
    text-align: center;
}
h4{
    color:black;
}
.container-fluid-1{
    display: grid; /* Enables grid layout */
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    /* grid-template-rows: repeat(3, 1fr); Three equal rows */
    gap: 3px; /* Space between grid items */
    padding: 10px;
    background-color: #f5f2f2;
    margin:1px;
    gap: 3px;
}

/* Grid items */
.row-1 {
    background-color: #fdfdf7;
    color: white;
    display: flex; /* Centers content horizontally and vertically */
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 2px solid #f6f6f3;
    border-radius: 10px;
}
.container-fluid-2{
    display: grid; /* Enables grid layout */
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
   /* grid-template-rows: repeat(3, 1fr);  Three equal rows */
    gap: 10px; /* Space between grid items */
    padding: 10px;
    background-color: #f4f4f4;
    margin:1px;
    gap: 3px;
}
.row-2{
    background-color: hsl(60, 18%, 97%);
    color: white;
    display: flex; /* Centers content horizontally and vertically */
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 2px solid hsl(200, 27%, 98%);
    border-radius: 10px;
}
.container-fluid-3{
    display:grid; /* Enables grid layout */
    grid-template-columns:300px 300px 300px 300px; /*4 columns*/
  /* grid-template-rows:450px 450px; /*2 rows*/
    gap: 10px; /* Space between grid items */
    padding: 10px;
    background-color: #f4f4f4;
}
.row-3 {
    background-color: #f4f6f9;
    color: white;
    display:flex; /* Centers content horizontally and vertically */
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 2px solid #f8f9f5;
    border-radius: 5px;
    width: 300px;
}
.card-body-1{

    display:grid;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding:5px;
    width: 400px;
    background-color:rgb(38, 38, 138);
    border-radius:15px;
}
.card-body-2{

    display:grid;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding:5px;
    width: 400px;
    background-color:rgb(68, 81, 68);
    border-radius:15px;
}

.card-body-3{

    display:grid;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding:5px;
    width: 400px;
    background-color: rgb(78, 80, 73);
    border-radius:15px;
}

.card-body-4{

    display:grid;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding:5px;
    width: 400px;
    background-color: rgb(151, 85, 195);
    border-radius:15px;
}
.card-body-5{

    display:grid;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding:5px;
    width: 400px;
    background-color: rgba(70, 70, 211, 0.832);
    border-radius:15px;
}
.card-body-6{

    display:grid;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding:5px;
    width: 400px;
    background-color: rgb(197, 153, 153);
    border-radius:15px;
}

