
.item0{
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-fluid{
   flex-grow: 1;
   padding:25px;
   align-items: center;
}
.grid-container{
  display:grid;
  grid-gap:25px;
}
.grid-row{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:25px;
}
.card-body{
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding:20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: larger;
}


/*.container1{
    display: grid;
    grid-template-columns:2fr 1fr;
    gap: 5px;
    padding: 5px;
   align-items: end;
   justify-content: end;
} */

 .grid-layout {
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
  /* max-width: 1200px; */
   align-items: center;
   justify-content: center;
   margin-inline:auto;
 }

 .panel {
   border: 1px solid #333;
   border-radius: 0.5rem;
   padding: 1.5rem;
   align-content:space-around;
   max-width:100%;
   align-self:center ;
 }

@media(max-width:400px){
  .charts{
    grid-template-columns:repeat(1fr);
  }


}

@media (max-width: 768px) {
  .grid-row {
    grid-template-columns: 1fr;
  }

  .grid-layout {
    grid-template-columns: 1fr;
  }
}
.charts {
  max-width: 350px;
  min-height: 400px; /* Example height */
}
