/* public/css/style.css */
.nav-link.active {
    background-color: orange !important;
    color: white !important;
}

.nav-icon {
    color: green !important;
}

body{
    background-color: rgb(147, 147, 197);
}

.home-link {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    font-size: 40px;
    text-decoration: none; 
    color: green; 
}
.login-link {
    position: absolute; 
    font-size: 40px;
    margin-left: 900px;
    text-decoration: none; 
    color: green; 
}
.register-link {
    position: absolute; 
    font-size: 40px;
    margin-left: 750px;
    text-decoration: none; 
    color: green; 
}

.image-container {
    margin-top: 300px;
    margin-left: 700px;
    height: 200px;
    width: 100%;
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    max-height: 200px; 
}

.quote{
    margin-left: 400px;
    margin-top: 70px;
    font-size: 30px;
    color: brown;
}

body.hold-transition.login-page {
    background-color: rgb(147, 147, 197);
}

.login-logo{
    color: brown;
}

.login-box {
    background-color: blue;
    margin-bottom: 200px;
}

.image-container-login {
    width: 500px;
    height: 300px; /* Set a fixed height */
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.image-container-login img {
    width: 100%; /* Image will fill the container width */
    height: 100%; /* Image will fill the container height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}
